.form-input{
    border: 0;
    padding: 4px;
    background-color: inherit;
    border-bottom: 1px solid rgba(179, 136, 101, 1);
    border-radius: 10px;
}
.form-input:focus{
    border-bottom: 1px solid rgba(179, 136, 101, 1);
    box-shadow: none;
}

select, input{
    border: 0;
    padding: 6px;
    border-bottom: 1px solid rgba(179, 136, 101, 1);
    border-radius: 10px;
    outline: none;
    background-color: inherit;
}