.error {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 400px;
    z-index: 999;
    opacity: 80%;
}

.error_block {
    background: rgb(231, 178, 164);
    background: linear-gradient(
        0deg,
        rgba(231, 178, 164, 0.6951155462184874) 0%,
        rgba(217, 214, 221, 0.8715861344537815) 74%
    );
    font-size: 13px;
}
