:root{
    --main-font: 'Playfair Display', serif;
    --input-font: 'Montserrat', sans-serif;
}

html, body{
    overflow-x: hidden;
}

.card__title, .question__title{
    font-weight: 700;
}
.card__text, .text, .question__title, .question__text{
    font-family: var(--main-font);
}
.form-input, .page_list, .btn_send, .error_block, .result_button, .accordion_text, .accordion_header, .quote_text, .quote_author, .card__title{
    font-family: var(--input-font);
}
.form-input:focus{
    background-color: inherit;
    border: 0;
    outline: 0;
}
.main{
    padding: 100px 0;
}