:root{
    --main-font: 'Playfair Display', serif;
}
html, body{
    overflow-x: hidden;
}

.card__title{
    font-weight: 700;
}
.card__text, .text, .card__title{
    font-family: var(--main-font);
}
.figure__one{
    position: absolute;
    z-index: -1;
}

.figure__two{
    position: absolute;
    right: 0;
    top: 0;
}
/* .figure__three{
    position: absolute;
    right: 0;
    z-index: -1;
} */
.figure__four{
    position: absolute;
    left: 25%;
    z-index: -1;
}
.main{
    padding: 100px 0;
}

@media (min-width: 1366px){
    html, body{
        overflow: hidden;
    }
}